.w-10-min {
  min-width: 10%;
}

.w-20-min {
  min-width: 20%;
}

.w-30-min {
  min-width: 30%;
}

.w-40-min {
  min-width: 40%;
}

.w-50-min {
  min-width: 50%;
}

.w-60-min {
  min-width: 60%;
}

.w-70-min {
  min-width: 70%;
}

.w-80-min {
  min-width: 80%;
}

.w-90-min {
  min-width: 90%;
}

.w-100-min {
  min-width: 100%;
}
